.form__title {
    margin: 0;
    padding-bottom: 16px;

    font-family: 'Montserrat_Alternates M';
    font-size: 48px;
    text-align: center;
}

@media screen and (max-width: 1064px) {
    .form__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 634px) {
    .form__title {
        font-size: 32px;
    }
}