.header__container {
    padding: 16px 10%;
    height: 100%;
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1064px) {
    .header__container {
        padding: 16px 5%;
    }
}