.intro {
    margin: 8rem auto 48px;
    width: 80%;
    height: calc(95vh - 8rem);
}

@media screen and (max-width: 1064px) {
    .intro {
        height: auto;
        width: 90%;
    }
}

@media screen and (max-width: 634px) {
    .intro {
        margin: 8rem auto 0;
    }
}
