.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Montserrat_Alternates M";
    font-size: 28px;
}

@media screen and (max-width: 854px) {
    .stats__item {
        font-size: 20px;
    }
}

@media screen and (max-width: 634px) {
    .stats__item {
        font-size: 24px;
    }
}