@media screen and (max-width: 854px) {
    .header__menu_active {
        height: 100vh;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        display: flex;
    }
}

