.header__dropdown {
    margin: 0;
    padding: 6px 8px;
    width: fit-content;
    height: fit-content;

    display: none;
    background: none;
    border: none;

    font-size: 32px;
    line-height: 32px;
    cursor: pointer;
}

@media screen and (max-width: 854px) {
    .header__dropdown {
        display: block;
        background-color: #fff;
        color: #003163;
        z-index: 11;
    }
}