.form__input {
    border: none;          
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px 0;
    background-color: #fafafa;
}

.form__input[placeholder="Имя"] {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form__input[placeholder="Сообщение"] {
    grid-column-start: 1;
    grid-column-end: 3;

    resize: none;
}

@media screen and (max-width: 970px) {
    .form__input {
        width: 100%;
        margin-bottom: 12px;
    }
}