.form__input {
    border: none;          
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px 0;
}

.form__input[placeholder="Имя"] {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form__input[placeholder="Сообщение"] {
    grid-column-start: 1;
    grid-column-end: 3;

    resize: none;
}