.about-us__image {
    width: 45%;
}

@media screen and (max-width: 854px) {
    .about-us__image {
        margin: 12px auto 24px;
        width: 60%;
        height: 240px;
        object-fit: cover;
        object-position: 0 0;
    }
}