.intro__subtitle {
    margin: 15px 0 18px;
    font-family: 'Montserrat_Alternates R';
    line-height: 1.4;
    font-size: 32px;
}

@media screen and (max-width: 1366px) {
    .intro__subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 568px) {
    .intro__subtitle {
        font-size: 16px;
    }
}